@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The purpose of this web app is to learn use cases for Venue objects, that is the “get all”, “get one”, “add new”, “edit existing” and
    “delete existing"..
</p>
