@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />

<p>
    The purpose of this web app is to learn use cases for Venue objects, that is the “get all”, “get one”, “add new”, “edit existing” and
    “delete existing"..
</p>
<br />

<p>
    This assignment is for Winter 2023, and it is based on WEB524 Template. 
</p>
<br />

<p>
    Author: Syed Anas
</p>