@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Syed Anas<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +1232312312
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">syed.anas@gmail.com</a><br />
</address>